/*  VARIABLES  */
/*Paleta de colores de Happy hues: https://www.happyhues.co/palettes/12*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 65%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Syne Mono", monospace;
  background-color: #232946;
  color: #fffffe;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2rem;
}

.logo {
  padding: 3rem 0;
  font-size: 4rem;
  text-align: center;
}
.logo .logo-link {
  color: #fffffe;
  text-decoration: none;
  position: relative;
}
.logo .logo-link::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #fffffe;
  transform-origin: center;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.logo .logo-link:hover::before {
  width: 100%;
  height: 3px;
}

.search-form {
  padding: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-form .search-input {
  background-color: #121629;
  color: #b8c1ec;
  border: none;
  border-radius: 10px;
  text-align: cener;
  width: 100%;
  padding: 1rem 2rem;
}
.search-form .search-btn {
  background-color: #eebbc3;
  color: #232946;
  border: none;
  border-radius: none;
  padding: 1rem 4rem;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.search-form .search-btn:hover {
  background-color: #121629;
  color: #eebbc3;
}

.loader {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
.loader .more-btn {
  background-color: #eebbc3;
  color: #232946;
  border: none;
  border-radius: none;
  padding: 1rem 4rem;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.loader .more-btn:hover {
  background-color: #121629;
  color: #eebbc3;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
  overflow: hidden;
}
.gallery .gallery-img {
  margin: 1rem auto 2rem auto;
}
.gallery .gallery-img .photo-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 0.5rem;
}
.gallery .gallery-img .photo-info .photo-info-left {
  width: 70%;
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: #fffffe;
}
.gallery .gallery-img .photo-info .photo-info-left .photographer {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}
.gallery .gallery-img .photo-info .photo-info-left .size-text {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.gallery .gallery-img .photo-info .download-options {
  font-family: "Roboto", sans-serif;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.gallery .gallery-img .photo-info .download-options .download-btn {
  font-size: 1.5rem;
  color: #b8c1ec;
  position: relative;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gallery .gallery-img .photo-info .download-options .download-btn .icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: currentColor;
  color: #b8c1ec;
}
.gallery .gallery-img .photo-info .download-options .download-btn span {
  position: relative;
}
.gallery .gallery-img .photo-info .download-options .download-btn span::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 0;
  background-color: #b8c1ec;
  transform-origin: center;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.gallery .gallery-img .photo-info .download-options .download-btn:hover span::before {
  width: 100%;
  height: 3px;
}
.gallery .gallery-img .photo-info .download-options .size-options {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
}
.gallery .gallery-img .photo-info .download-options .size-options a {
  color: #fffffe;
  text-decoration: none;
  position: relative;
}
.gallery .gallery-img .photo-info .download-options .size-options a::before {
  content: "";
  position: absolute;
  height: 0.5px;
  width: 0;
  background-color: #fffffe;
  transform-origin: center;
  bottom: -5px;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.gallery .gallery-img .photo-info .download-options .size-options a:hover::before {
  width: 100%;
  height: 1px;
}
.gallery .gallery-img img {
  width: 300px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  border-top: 1px solid #b8c1ec;
  padding: 2rem;
  margin-top: 5rem;
  position: relative;
}
footer .footer-text {
  font-family: "Roboto", sans-serif;
  color: #eebbc3;
  font-size: 1.25rem;
  text-align: center;
}
footer .back-to-top {
  align-self: end;
}
footer .back-to-top .caret {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  color: #eebbc3;
}

@media (min-width: 640px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo {
    font-size: 6rem;
  }
}
@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1536px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    max-width: 90vw;
  }
}/*# sourceMappingURL=style.css.map */